//------- VARIABLES -------

$main-color: #E95B5B;

//------- IMPORTS -------

@import 'components/navbar.scss';

//------- FONTS -------

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.text-regular {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.text-semibold {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.text-bold {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

//------- STYLES -------

body {
  margin: 0;
}
